@import url("../img/font-awesome/css/font-awesome.min.css");

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html { font-size: 50%; }

body {
    background-image: url("../img/photo2.jpg");
    background-size:cover;    font-family: 'merriweather-regular', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 40px;
    color: #838C95;

    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}


/*  3. Links  ------------------------------------------------------- */

a, a:visited {
    text-decoration: none;
    outline: 0;
    color: #3b5998;

    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
a:hover, a:focus { color: #3b5998; }
p a, p a:visited { line-height: inherit; }

/* 6. Buttons  --------------------------------------------------------- */

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font: 14px/24px 'montserrat-bold', sans-serif;
    display: inline-block;
    background: #fff;
    text-decoration: none;
    letter-spacing: 0;
    padding: 12px 20px;
    margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}

.button:hover,
button:hover,
input[type="button"]:hover {
    background: #f7e1b5;
    color: #fff;
}

.button:active,
button:active,
input[type="button"]:active {
    background: #fff;
    color: #fff;
}


/* ------------------------------------------------------------------ */
/* e. Grid
--------------------------------------------------------------------- */

/* default
--------------------------------------------------------------- */
.row {
    width: 96%;
    max-width: 1008px;
    margin: 0 auto;

}

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */


/* Main
------------------------------------------------------------------ */
#main {
    text-align: center;
}
#main h1 {
    font: 33px 'montserrat-bold', sans-serif;
    color: #fff;
    margin-top: 10%;
    margin-left: 24%;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}
#main p {
    font: 16px/33px 'montserrat-regular', sans-serif;
    color: #fff;
    margin-left: 24%;
    padding: 0 18%;
    margin-top: 1cm;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .7);
}
#main h5 {
    font: 13px/24px 'montserrat-bold', sans-serif;
    color: #8a6d3b;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .7);
}

/* counter */
#main #counter {
    width: 100%;
    color: #fff;
    margin-left: 50%;
    text-align: center;
}
#main #counter span {
    font: 180% 'merriweather-bold', serif;
    display: block;
    min-width: 8%;
    float: left;
    color: white;
    border-left: 1px dotted rgba(255, 255, 255, .2);
}
#main #counter span:first-child { border-left: none;}
#main #counter span em {
    font: 60% 'montserrat-regular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 12px;
    display: block;
    margin-left: 35%;
    color: #FFFFFF;
}

/* social links */
#main .social {
    clear: both;
    font-size: 22px;
    margin-left: 20%;
    padding: 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
#main .social li {
    display: inline-block;
    margin: 0 12px;
    padding: 0;
}
#main .social li a { color: #fff; }
#main .social li a:hover { color: #8a6d3b; }

