<body ng-cloak>
<!-- Pending page Dep -->
<link rel="stylesheet" href="../../css/coming-soon.css">
<!-- End Dep of Pending page -->
    <div  id="main" class="row" ng-cloak>
        <div class="twelve columns">
            <h1>Le Soutien scolaire en live, oui en live! </h1>
            <p style="color: #8a6d3b;font-size: 190%;" align="left">
                <span style="margin-left: 10%">Helpy Academy</span> permet aux élèves et étudiants de bénéficier des cours de soutien dans toutes les matières à des prix très abordables et aux professeurs de donner des cours particuliers. Tout cela au confort de chez eux.
            </p>
            <h5 style="margin-left: 42%;margin-top: 1%" align="left">TEMPS RESTANT AVANT LE LANCEMENT</h5>

            <div id="counter" class="cf" style="margin-left: 39%">
                <span> J</span>
                <span> H</span>
                <span> M</span>
                <span> S</span>
            </div>
            <a class="button" style="font-family: Arial Black;font-size: 100%;margin-left: 22%;margin-top: 2%;color: #985f0d" ng-click="pending.open()"><em>Inscrivez-vous!</em></a>
            <ul class="social">
                <li style="font-size: 200%"><a href="https://www.facebook.com/HelpyAcademy/?fref=ts#"><i class="fa fa-facebook"></i></a></li>
                <li style="font-size: 200%"><a href="https://www.linkedin.com/in/helpy-academy-4317b3128?authType=NAME_SEARCH&authToken=XjZg&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A527508901%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1473029775863%2Ctas%3Ahelp"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>

        </div>
    </div> <!-- main end -->

<script src="../../js/vendor/init.js"></script>
</body>
