<body>
<div ng-controller="profileCtr as profile">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12" style="margin-top: 20px">
                <div class="panel panel-default profile-panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12 text-center">
                                <div class="text-center">
                                    <img for="img" class="fb-image-profile thumbnail" style="width:95%; height: 150px;"
                                         ng-src="{{url}}" ng-show="profile.getImage()">
                                    <label id="uplaodImgLabel" style="margin-left: 35%;margin-top: 0%;" for="img">Changer
                                        Votre Image</label>
                                    <input style="opacity:0;background-color:transparent;color:transparent;"
                                           ngf-select="profile.uploadPhoto($file)" id="img"
                                           class="" ng-model="picFile" name="profilePic" type="file"
                                           value="test"/>
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-12 user-info-box">
                                <a class="btn btn-info pull-right btn-edit" ng-click="profile.open()">
                                    <i class="fa fa-edit"></i>
                                    Modifier…
                                </a>
                                <h3 class="user-name" ng-bind="profile.user_name()"></h3>
                                <div id="more">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <p><strong><i class="fa fa-envelope"></i> E-mail: </strong><span
                                                    class="user-email" ng-bind="profile.user.email"></span></p>
                                            <p><strong><i class="fa fa-phone-square"></i> Téléphone: </strong><span
                                                    class="user-phone" ng-bind="profile.phone()"></span></p>
                                            <p ng-show="profile.showBio"><strong><i
                                                    class="glyphicon glyphicon-education"></i> Bio: </strong><span
                                                    ng-bind="profile.bio()" class="user-dob"></span>
                                            </p>
                                            <p ng-show="!isStudent()" style="margin-top: 20%;">
                                            <div class="row" ng-show="!isStudent()">
                                                <span style="font-size: 70%;margin-left: 20%" uib-rating
                                                      ng-model="profile.rate" max="profile.max"
                                                      read-only="profile.isReadOnly"
                                                      on-hover="profile.hoveringOver(value)"
                                                      on-leave="profile.overStar = null"
                                                      ria-labelledby="default-rating"></span>
                                                <a href="#" style="text-decoration: underline;"><em
                                                        ng-bind="profile.getAvis()"
                                                        style="font-size: 20px;font-weight: bold;color:#2e7bcf"></em></a>

                                            </div>
                                            <span style="font-size: 80%;margin-left: 20%" class="label"
                                                  ng-class="{'label-warning': profile.percent<30, 'label-info': profile.percent>=30 && profile.percent<70, 'label-success': profile.percent>=70}"
                                                  ng-show="profile.overStar">{{profile.percent}}%</span>
                                            </p>

                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <p><strong><i class="fa fa-calendar"></i> Date de naissance: </strong><span
                                                    ng-bind="profile.date_birth()" class="user-dob"></span></p>
                                              <span ng-show="!isStudent()" style="margin-top: 42%" ng-bind="profile.getStatus()"
                                                    style="font-size: 80%;margin-left: 20%"
                                                    class="fa" title="{{profile.getStatus()}}"
                                                    ng-class="profile.user.status ? 'fa fa-check-square' : 'fa fa-minus-square' "></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default academic-panel">

                    <uib-tabset active="0" justified="true">

                        <!------------------------------- Présentation's Tab ------------------------->
                        <uib-tab index="2" heading="Présentation" style="background-color: #f7f7f7;font-size: large"  ng-show="!isStudent()">

                            <div class="panel-body" ng-show="!isStudent()">
                                <h2 style="margin-left: 10%">
                                    Présentation
                                </h2>
                                <p id="profile-profession" ng-bind="profile.user.profession">

                                </p>

                                <p id="profile-desc" class="profile-profession" ng-bind="profile.user.desc">
                                </p>
                            </div>


                        </uib-tab>

                        <!------------------ Avis des élèves  ------------------------->
                        <uib-tab index="1" heading="Avis des élèves" ng-show="!isStudent()"
                                 style="background-color: #f7f7f7;font-size: large">

                        </uib-tab>


                        <!------------------------------- Session's Tab ------------------------->
                        <uib-tab index="0" heading="Session" style="background-color: #f7f7f7;font-size: large">
                            <div class="panel-body" ng-show="isStudent()">
                                <h3><i class="fa fa-book fa-lg"></i> Mes Sessions</h3>
                                <hr class="colorgraph">
                                <table class="table table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Professeur</th>
                                        <th>Participants</th>
                                        <th>Avis</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-body" ng-show="!isStudent()">
                                <h3><i class="fa fa-book fa-lg"></i> Sessions Créees</h3>
                                <hr class="colorgraph">
                                <table class="table table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Participants</th>
                                        <th>Avis</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>
            <div class="col-md-3 col-sm-12" style="margin-top: 20px" ng-show="!isStudent()">
                <div class="row">
                    <!-- Send Message to professor-->
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bullhorn fa-lg"></i>
                                Recent Notices
                            </div>
                            <div class="panel-body">
                                <em>
                                    <span style="font-size: large">Contacter</span> <span
                                        ng-bind="profile.user.lname"></span>
                                    <br>Expliquez à <span ng-bind="profile.user.fname"></span> la situation et la date
                                    idéale pour un premier cour
                                </em>
                                <br>
                                <input style="margin-top: 8%;;margin-left: 18%" type="submit" class="btn btn-danger"
                                       value="Envoyer un message">

                            </div>
                        </div>
                    </div>

                    <!-- Panel 2 -->
                    <!-- div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-file fa-lg"></i>
                                Recent Uploads
                            </div>
                            <div class="panel-body">
                                Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before
                                they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles
                                cardigan.
                            </div>
                        </div>
                    </div -->
                </div>
            </div>
        </div>

    </div>
</div>
</body>