<body>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li ng-class="dashboard.activateMain" ><a   ng-click="dashboard.mainDash()"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li ng-class="dashboard.activateCharts"><a  ng-click="dashboard.chartsDash()"><svg  class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
        <li ng-class="dashboard.activateUsers"><a  ng-click="dashboard.usersDash()"><svg class="glyph stroked female user"><use xlink:href="#stroked-female-user"/></svg>
            Utilisateurs</a></li>
        <li ng-class="dashboard.activateCourses"><a  ng-click="dashboard.coursesDash()"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg>
            Cours</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <!-- Start Main State of the Dashboard -->
    <div class="row" ng-show="dashboard.main" ng-controller="mainDashCtr as main">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large" ng-bind="dashboard.countProfessors()"></div>
                        <div class="text-muted">New Orders</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">52</div>
                        <div class="text-muted">Comments</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">24</div>
                        <div class="text-muted">New Users</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">25.2k</div>
                        <div class="text-muted">Page Views</div>
                    </div>
                </div>
            </div>
        </div>
</div>	<!-- End Main State of the Dashboard -->

<!-- Start Users Part in the Dashboard -->
    <div ng-show="dashboard.users" ng-controller="usersDashCtr as usersCtr">     <!-- Start Courses State of the Dashboard -->

        <div  style="margin-top: 3%;margin-left: 35%">
            <div class="btn-group">
                <button type="button"  class="btn btn-success btn-filter" ng-click="usersCtr.showStudents()">Étudiants</button>
                <button type="button" class="btn btn-default btn-filter" ng-click="usersCtr.showProfessors()">Professeurs</button>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1" style="margin-top: 2%">
            <!--                                        Students Table                          -->
            <div class="panel panel-default panel-table" ng-show="usersCtr.studentsTab">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title" style="margin-left: 90%;color: #204d74;font-size: large">Étudiants</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-list">
                        <thead>
                        <tr>
                            <th colspan="4">
                                <input ng-model="usersCtr.studentQuery" placeholder="Chercher ..." class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="fname" align="center" ><em id="#intitule">Nom</em></th>
                            <th  align="center"><em  style="margin-left: 40%" id="#intitule">Prénom</em></th>
                            <th   align="center"><em  style="margin-left: 40%" id="#intitule">Email</em></th>
                            <th align="center"><em  style="margin-left: 40%" id="#intitule">Téléphone</em></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr   dir-paginate="student in students | filter: usersCtr.studentQuery | itemsPerPage: 6" pagination-id="student">
                            <td align="center"><a ng-click="usersCtr.showStudent(student)">{{student.fname}}</a></td>
                            <td align="center"><a ng-click="usersCtr.showStudent(student)">{{student.lname}}</a></td>
                            <td align="center">{{student.email}}</td>
                            <td align="center">{{student.phone}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row" style="margin-left: 50%">
                        <dir-pagination-controls pagination-id="student"></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <!--                                        Professors Table                          -->
            <div class="panel panel-default panel-table" ng-show="usersCtr.professorsTab">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title" style="margin-left: 90%;color: #204d74;font-size: large">Professeurs</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-list">
                        <thead>
                        <tr>
                            <th colspan="5">
                                <input ng-model="usersCtr.professorQuery" placeholder="Chercher ..." class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="fname" align="center" ><em id="#intitule">Nom</em></th>
                            <th  align="center"><em  style="margin-left: 30%" id="#intitule">Prénom</em></th>
                            <th   align="center"><em  style="margin-left: 30%" id="#intitule">Email</em></th>
                            <th align="center"><em  style="margin-left: 30%" id="#intitule">Téléphone</em></th>
                            <th align="center"><em  style="margin-left: 30%" id="#intitule">Matières Enseignées</em></th>
                            <th align="center"><em  style="margin-left: 30%" id="#intitule">Status</em></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr   dir-paginate="professor in professors | filter: usersCtr.professorQuery | itemsPerPage: 6"  pagination-id="professor">
                            <td align="center"><a ng-click="usersCtr.showProfessors(professor)">{{professor.fname}}</a></td>
                            <td align="center"><a ng-click="usersCtr.showStudent(professor)">{{professor.lname}}</a></td>
                            <td align="center">{{professor.email}}</td>
                            <td align="center">{{professor.phone}}</td>
                            <td align="center">{{usersCtr.getProfSubjects(professor)}}</td>
                            <td class="glyphicon"  style="margin-left: 30%" title="{{usersCtr.getStatus(professor)}}"  ng-class="professor.status ? 'glyphicon-ok' : 'glyphicon-remove'" ng-click="usersCtr.changeStatus(professor)"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row" style="margin-left: 50%">
                        <dir-pagination-controls pagination-id="professor"></dir-pagination-controls>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <!-- -User Dash part Ending! -->

    <div ng-show="dashboard.courses" ng-controller="coursesCtr as courses">     <!-- Start Courses State of the Dashboard -->
        <a  ng-click="courses.addSubject()" style="margin-left: 300px;margin-top: 50px;color: #204d74" class="btn btn-default">Ajouter Matière<span style="margin-left: 3%" class="glyphicon glyphicon-plus"></span></a>
        <a  ng-click="courses.addLevel()" style="margin-left: 20px;margin-top: 50px;color: #204d74" class="btn btn-default">Ajouter Niveau<span style="margin-left: 3%" class="glyphicon glyphicon-plus"></span></a>
        <a  ng-click="courses.addCycle()" style="margin-left: 20px;margin-top: 50px;color: #204d74;" class="btn btn-default">Ajouter Cycle<span style="margin-left: 3%" class="glyphicon glyphicon-plus"></span></a>

        <div  style="margin-top: 3%;margin-left: 35%">
            <div class="btn-group">
                <button type="button"  class="btn btn-success btn-filter" ng-click="courses.showSubjects()">Matières</button>
                <button type="button" class="btn btn-danger btn-filter" ng-click="courses.showLevels()">Niveaux</button>
                <button type="button" class="btn btn-default btn-filter" ng-click="courses.showCycles()">Cycles</button>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1" style="margin-top: 2%">
        <!--                                        Subjects Table                          -->
        <div class="panel panel-default panel-table" ng-show="courses.subjectsTab">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title" style="margin-left: 90%;color: #204d74;font-size: large">Matières</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-list">
                    <thead>
                    <tr>
                        <th>
                            <input ng-model="courses.subjQuery" placeholder="Chercher ..." class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="label"><em id="#intitule">Intitulé</em></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr   dir-paginate="subject in subjects | filter: courses.subjQuery | itemsPerPage: 6"  pagination-id="subject">
                        <td align="center"><a ng-click="courses.selectSubj(subject)">{{subject.label}}</a></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row" style="margin-left: 50%">
                    <dir-pagination-controls pagination-id="subject"></dir-pagination-controls>
                </div>
            </div>
        </div>

        <!-- Level s Table -->
            <div class="panel panel-default panel-table" ng-show="courses.levelsTab">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title" style="margin-left: 90%;color: #204d74;font-size: large">Niveaux</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-list">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <input ng-model="courses.levelQuery" placeholder="Chercher ..." class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 50%;" st-sort="label"><em id="#intitule">Intitulé</em></th>
                            <th st-sort="label"><em id="#intitule">Cycle</em></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr   dir-paginate="level in levels | filter: courses.levelQuery | itemsPerPage: 6"  pagination-id="level">
                                <td align="center"><a ng-click="courses.selectLevel(level)">{{level.label}}</a></td>
                                <td> {{level._cycle.label}}</td>
                            </tr>
                        </tbody>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row" style="margin-left: 50%">
                        <dir-pagination-controls pagination-id="level"></dir-pagination-controls>
                    </div>
                </div>
            </div>

            <!-- Cycles Table -->
            <div class="panel panel-default panel-table" ng-show="courses.cyclesTab">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title" style="margin-left: 90%;color: #204d74;font-size: large">Cycles</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-list">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <input ng-model="courses.cycleQuery" placeholder="Chercher ..." class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 50%;" st-sort="label"><em id="#intitule">Intitulé</em></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr   dir-paginate="cycle in cycles | filter: courses.cycleQuery | itemsPerPage: 8"  pagination-id="cycle">
                            <td align="center"><a ng-click="courses.selectCycle(cycle)">{{cycle.label}}</a></td>
                        </tr>
                        </tbody>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row" style="margin-left: 50%">
                        <dir-pagination-controls pagination-id="cycle"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div><!--/.row-->



</body>