<div id="add-subject" class="modal-content">
    <form class="form-horizontal" role="form">
        <div class="modal-header">
            <button type="button" class="close"><span ng-click="subject.close()" aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title" id="edit-profile">Ajouter une matière</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="label" >l'Intitule</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="label"  ng-model="subject.subjectLabel" name="label" placeholder="l'Intitulé de la matière">
                </div>
                <label  class="col-sm-2 control-label" style="margin-top: 5%;" for="level">Niveau</label>
                <div  class="col-sm-10" style="margin-top: 5%" >
                    <div id="level" ng-dropdown-multiselect="" options="levels" selected-model="subject.levelSelected" extra-settings="subject.mutlilevelsfSett"></div>
                </div>
                <label class="col-sm-2 control-label" style="margin-top: 5%" for="label">Professeurs</label>
                <div class="col-sm-10" style="margin-top: 5%">
                    <div ng-dropdown-multiselect="" options="professors" selected-model="subject.profSelected" extra-settings="subject.mutliProfSett"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="subject.close()">Fermer</button>
            <button type="submit" class="btn btn-primary" ng-click="subject.save()">Créer</button>
        </div>
    </form>
</div>
