<div id="add-subject" class="modal-content">
    <form class="form-horizontal" role="form">
        <div class="modal-header">
            <button type="button" class="close"><span ng-click="level.close()" aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title" id="edit-profile">Ajouter Un Niveau</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="label">l'Intitulé</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="label"  ng-model="level.levelLabel" name="lvllabel" placeholder="l'Intitulé" required>
                </div>
                 <label class="col-sm-2 control-label" style="margin-top: 5%;" for="cycle">Cycle</label>
                   <div  class="col-sm-10" style="margin-top: 5%" >
                       <div id="cycle" ng-dropdown-multiselect="" options="cycles" selected-model="level.cycleSelected" extra-settings="level.mutliCyclesSett" required></div>
                   </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="level.close()">Fermer</button>
            <button type="submit" class="btn btn-primary" ng-click="level.save()">Créer</button>
        </div>
    </form>
</div>
