<div id="add-subject" class="modal-content">
    <form class="form-horizontal" role="form">
        <div class="modal-header">
            <button type="button" class="close"><span ng-click="cycle.close()" aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title" id="edit-profile">Ajouter Un Cycle</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="label">l'Intitulé</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="label"  ng-model="cycle.cycleLabel" name="cyclelabel" placeholder="l'Intitule">
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cycle.close()">Fermer</button>
            <button type="submit" class="btn btn-primary" ng-click="cycle.save()">Créer</button>
        </div>
    </form>
</div>
