            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Vous êtes entrain de changer le status de cet utilisateur, êtes vous sûr de cette action ?  </p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="yesno.choice(false)" class="btn btn-default" data-dismiss="modal">Non</button>
                    <button type="button" ng-click="yesno.choice(true)" class="btn btn-primary" data-dismiss="modal">Oui</button>
                </div>
            </div>
