<body>
                <div class="modal-content">
                    <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active" ng-hide="authCtr.isPending()"><a ng-click="authCtr.init()" href="#signin" data-toggle="tab">Se connecter</a></li>
                            <li  ><a ng-click="authCtr.init()" href="#signup" data-toggle="tab">S'inscrire</a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="signin"  ng-hide="authCtr.isPending()" >
                                <form class="form-horizontal" ng-submit="authCtr.signIn()">
                                    <fieldset>
                                        <!-- Sign In Form -->
                                        <!-- Email input-->
                                        <div class="control-group">
                                            <label class="control-label" for="userid">Email:</label>
                                            <div class="controls">
                                                <input ng-model="authCtr.email" id="userid" name="email" type="email" class="form-control input-medium" placeholder="Email" required>
                                            </div>
                                        </div>

                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="passwordinput">Mot de passe:</label>
                                            <div class="controls">
                                                <input ng-model="authCtr.password" id="passwordinput" name="password" class="form-control input-medium" type="password" placeholder="********"  required>
                                            </div>
                                        </div>

                                        <!-- Multiple Checkboxes (inline) -->
                                        <div class="control-group">
                                            <label class="control-label" for="rememberme"></label>
                                            <div class="controls" id="rememberme">
                                                <label class="checkbox inline" style="margin-left: 20px" for="rememberme-0">
                                                    <input type="checkbox" ng-model="authCtr.rememberMe" name="rememberme" id="rememberme-0" value="Souviens de moi">
                                                    Remember me
                                                </label>
                                            </div>
                                        </div>

                                        <!-- SignIn Button -->
                                        <div class="control-group">
                                            <label class="control-label" for="signin-btn"></label>
                                            <div class="controls">
                                                <button type="submit" id="signin-btn"  class="btn btn-secondary" style="margin-left: 243px;color: #8a6d3b">Se connecter</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="tab-pane fade  in" id="signup">
                                <form class="form-horizontal" ng-submit="authCtr.signUp()">
                                    <fieldset>
                                        <!-- Sign Up Form -->
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label"  for="fname">Nom:</label>
                                            <div class="controls">
                                                <input id="fname" ng-model="authCtr.fname" name="fname" class="form-control input-large" type="text" placeholder="Nom" required>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="lname">Prenom:</label>
                                            <div class="controls">
                                                <input id="lname" name="lname" ng-model="authCtr.lname" class="form-control input-large" type="text" placeholder="Prenom" required>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="Email">Email:</label>
                                            <div class="controls">
                                                <input id="Email" name="email" ng-model="authCtr.email" class="form-control input-large" type="email" placeholder="name@example.com" required>
                                            </div>
                                        </div>
                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="password">Mot de passe: </label>
                                            <div class="controls">
                                                <input id="password" name="password" pattern = ".{5,}" title= "5 characters minimum" ng-model="authCtr.password" class="form-control input-large" type="password" placeholder="******** (5 Characteres au minimum)" required>
                                            </div>
                                        </div>


                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="reenterpassword">Re-Entrer le mot de passe:</label>
                                            <div class="controls">
                                                <input id="reenterpassword" ng-model="authCtr.password2" pattern = ".{5,}" title="5 characters minimum" class="form-control input-large" name="reenterpassword" type="password" placeholder="********" required>
                                            </div>
                                        </div>

                                        <!-- Multiple Radios (inline) -->
                                        <div class="control-group">
                                            <div class="controls" id="usertype" required="Please choose one of the options below">
                                                <label class="radio inline" for="student" style="margin-left: 20px" >
                                                    <input type="radio" name="student" id="student" ng-model="authCtr.user" value="student" >Je suis Elève / Etudiant / Parent </label>
                                                <label class="radio inline" for="professor" style="margin-left: 20px">
                                                    <input type="radio" ng-model="authCtr.user" name="professor" id="professor" value="professor">Je suis Professeur</label>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="control-group" style="margin-top: -2%">
                                            <label class="control-label" for="confirmsignup"></label>
                                            <div class="controls">
                                                <button id="confirmsignup" type="submit" name="confirmsignup" class="btn btn-secondary" style="margin-left: 243px;color: #8a6d3b">S'inscrire</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background: #f7e1b5 ">
                        <center>
                            <button type="button" class="btn btn-secondary" style="color: #8a6d3b;" ng-click="authCtr.close()">Fermer</button>
                        </center>
                    </div>
                </div>

</body>