<body>
<div ng-controller="headerCtr as header" >
<!-- Start header  -->
<header id="mu-header">
    <div class="container">
        <div class="row">
            <div notifybar style="position:absolute;top:0;right:0"></div>
            <div class="col-lg-12 col-md-12">
                <div class="mu-header-area">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="mu-header-top-left">
                                <div id="user_full_name" class=" mu-top-social-nav mu-top-email">
                                    <strong ng-show="header.isAuthed()" style="font-size: 15px;color: #01bafd"><a ui-sref=".profile" ng-bind="header.fullName()"></a> </strong>
                                </div>
                                <div class=" mu-top-social-nav mu-top-phone">
                                    <strong ng-show="header.isAuthed()" ><a ng-click="header.logOut()">LogOut</a></strong>
                                </div>
                                <div class=" mu-top-social-nav mu-top-phone">
                                    <strong style="font-size: 15px;" class="mu-top-social-nav" ng-show="!header.isAuthed()"><a ng-click="header.open()">Sign In/Register</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="mu-header-top-right">
                                <nav>
                                    <ul class="mu-top-social-nav">
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End header  -->
<!-- Start menu -->
<section id="mu-menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- TEXT BASED LOGO -->
                <a class="navbar-brand" ui-sref=".home"><i class="fa fa-university"></i>Helpy Academy</a>
                <!-- IMG BASED LOGO  -->
                <!-- <a class="navbar-brand" href="coming-soon.html"><img src="/img/logo.png" alt="logo"></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                    <li class="active"><a ui-sref=".home">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Course Archive</a></li>
                            <li><a href="#">Course Detail</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Gallery</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Blog Archive</a></li>
                            <li><a href="#">Blog Single</a></li>
                        </ul>
                    </li>
                    <li><a ng-show="header.isAdmin()" ui-sref=".dashboard">Dashboard</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">404 Page</a></li>
                    <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- End menu -->
<!-- Start search box -->
<div id="mu-search" ng-controller="searchCtr as search">
    <div class="mu-search-area">
        <div class="container">
            <div class="row">
                <div id="search-zone" class="col-md-15">
                    <button class="mu-search-close" ><span class="fa fa-close"></span></button>
                    <form class="mu-search-form">
                        <input  ng-model="search.query" ng-change="search.search()" type="search" placeholder="Dans quoi avez-vous besoin d'aide ? Essayez 'mathématiques'">
                    </form>
                    <div ng-repeat="resutl in search.results">
                        <a id="plural-sight-resutCss" type="search">{{resutl.label}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>