<!-- Modal -->
<div class="modal-content">
    <form class="form-horizontal" role="form">
        <div class="modal-header">
            <button type="button" class="close"><span ng-click="update.close()" aria-hidden="true">×</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title" id="edit-profile">Modifier Le Profile</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="fname">Nom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fname" ng-model="update.user.fname" name="fname"
                           placeholder="Nom">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="lname">Prénom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lname" name="lname" ng-model="update.user.lname"
                           placeholder="Prénom">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Date de naissance</label>
                <div class="col-sm-10">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{update.dateFormat}}" ng-model="update.date_birth"
                               is-open="update.openedDP"  ng-click="update.datePicker()" ng-required="true" placeholder="jj-mm-aaaa"
                               close-text="Fermer" current-text="Aujourd'hui" clear-text="Initialiser" onchange="update.datePicker()" readonly/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="update.datePicker()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="user-email">Adresse E-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="user-email" name="user-email"
                           ng-model="update.user.email" placeholder="Votre adresse E-mail">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="user-phone">Num. de téléphone</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="user-phone" name="user-phone"
                           ng-model="update.user.phone" placeholder="Votre numéro de téléphone">
                </div>
            </div>
            <hr>
            <div class="form-group" ng-show="!isStudent()">
                <label class="col-sm-2 control-label" for="user-prof">Profession</label>
                <div class="col-sm-10">
                    <textarea type="text" maxlength="100" class="form-control" id="user-prof" name="user-prof"
                              ng-model="update.user.profession" placeholder="Vous faisez quoi ?">
                    </textarea>
                </div>
            </div>
            <div class="form-group" ng-hide="isStudent()">
                <label class="col-sm-2 control-label" for="user-prof">Matieres Enseignees</label>
                <div class="col-sm-10">
                    <div id="level" ng-dropdown-multiselect="" options="update.subjects" selected-model="update.subjectsSelected" extra-settings="update.mutlilSubjSett"></div>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label" for="user-pres">Présentation</label>
                <div class="col-sm-10">
                    <textarea ng-show="!isStudent()" type="text"   style="overflow-y: scroll;height: 400px" class="form-control" id="user-pres" name="user-pres"
                           ng-model="update.user.desc" placeholder="Présentez-vous...">
                    </textarea>
                     <textarea ng-show="isStudent()" type="text" maxlength="100" class="form-control" id="user-pres" name="user-pres"
                               ng-model="update.user.desc" placeholder="Présentez-vous...">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="update.close()">Fermer</button>
            <button type="submit" class="btn btn-primary" ng-click="update.saveChanges()">Sauvegarder</button>
        </div>
    </form>
</div>

